<html>
<body>
<title>Files</title>
<ul>
{% for jsonElement in json recursive %}
	{% if jsonElement["type"] == "dir" %}
		<li>
		<img src="/static/assets/dir.png">  {{jsonElement["name"]}} 
		{% if jsonElement["list"] != "" %}
			<ul>
				{{loop(jsonElement["list"])}}
			</ul>
		{% endif %}
		</li>
	{% endif %}
	{% if jsonElement["type"] == "file" %}
		<li><img src="/static/assets/file.png">  {{jsonElement["name"]}}</li>
	{% endif %}
{% endfor %}
</ul>
</body></html>
<!-- 

 -->

<!-- <html>
<body>
<title>Files</title>
<ul>
{% for jsonElement in json recursive %}
	{% set outer_loop = loop %}	
	{% for element in jsonElement recursive %}
	    {% if element == "file" %}
	       <li>{{json[element]}}</li>
	    {% elif element == "dir" %}
	       <li>{{json[element]}}</li>
	    {% elif element == "list" %}
	       <li>
	       <ul>{{ outer_loop(json[element]) }}</ul>
	       </li>
	    {% endif %}
	{% endfor %}
{% endfor %}
</ul>
</body></html> -->